.user-list{
    display: flex;
    margin-bottom: 50px;
    margin-left: 300px;
    background: antiquewhite;
    padding: 20px;
    border-radius: 10px;
}
.user-information{
    margin-left: 30px;
}
.btn{
    background: goldenrod;
    color: white;
    padding:10px 15px;
    width: 150px;
    font-weight: 700;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.btn span{
    padding-left: 5px;
}